@import url('https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css');
@config "../../tailwind.config.ts";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    ul,
    ol {
        list-style: revert;
        margin: revert;
        padding: revert;
    }
}

body {
    background-color: #fff8ea; /* Set your desired background color */
}
  
article a {
    color: #54b1ff;
}